xsd/calendaradjustment.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element type="calendaradjustment" name="CalendarAdjustments"/>

  <xs:complexType name="calendaradjustment">
    <xs:sequence>
      <xs:element type="newcalendar" name="Calendar" maxOccurs="unbounded" minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>  
  
  <xs:complexType name="newcalendar">
    <xs:all>
      <xs:element type="calendar" name="BaseCalendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="Dates" name="AdditionalHolidays" minOccurs="0"/>
      <xs:element type="Dates" name="AdditionalBusinessDays" minOccurs="0"/>
    </xs:all>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="Dates">
    <xs:sequence>
     <xs:element type="date" name="Date" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType> 
  
</xs:schema>
