xsd/collateralbalance.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element type="collateralBalances" name="CollateralBalances"/>

  <xs:complexType name="collateralBalances">
    <xs:sequence>
      <xs:element name="CollateralBalance" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element ref="nettingSetGroup"/>
            <xs:element type="currencyCode" name="Currency" minOccurs="0"/>
            <xs:element type="xs:decimal" name="InitialMargin" minOccurs="0"/>
            <xs:element type="xs:decimal" name="VariationMargin" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
