xsd/conventions.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element type="conventions" name="Conventions"/>

  <xs:complexType name="conventions">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element type="zeroType" name="Zero"/>
      <xs:element type="cdsConventionsType" name="CDS"/>
      <xs:element type="depositType" name="Deposit"/>
      <xs:element type="futureType" name="Future"/>
      <xs:element type="fraType" name="FRA"/>
      <xs:element type="oisType" name="OIS"/>
      <xs:element type="swapType" name="Swap"/>
      <xs:element type="averageOISType" name="AverageOIS"/>
      <xs:element type="tenorBasisSwapType" name="TenorBasisSwap"/>
      <xs:element type="tenorBasisTwoSwapType" name="TenorBasisTwoSwap"/>
      <xs:element type="bmaBasisSwapType" name="BMABasisSwap"/>
      <xs:element type="fxType" name="FX"/>
      <xs:element type="crossCurrencyBasisType" name="CrossCurrencyBasis"/>
      <xs:element type="crossCurrencyFixFloatType" name="CrossCurrencyFixFloat"/>
      <xs:element type="swapIndexType" name="SwapIndex"/>
      <xs:element type="inflationswapType" name="InflationSwap"/>
      <xs:element type="cmsSpreadOptionType" name="CmsSpreadOption"/>
      <xs:element type="commodityForwardType" name="CommodityForward"/>
      <xs:element type="commodityFutureType" name="CommodityFuture"/>
      <xs:element type="fxOption" name="FxOption"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="zeroType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="TenorBased" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="compounding" name="Compounding" minOccurs="0" maxOccurs="1"/>
      <xs:element type="frequencyType" name="CompoundingFrequency" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="TenorCalendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:integer" name="SpotLag" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="SpotCalendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="RollConvention" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="EOM" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cdsConventionsType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:integer" name="SettlementDays" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Calendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="frequencyType" name="Frequency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="PaymentConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dateRule" name="Rule" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="SettlesAccrual" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="PaysAtDefaultTime" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="depositType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="IndexBased" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Index" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="Calendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="Convention" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="EOM" minOccurs="0" maxOccurs="1"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:unsignedLong" name="SettlementDays" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="futureType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Index" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fraType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Index" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="oisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:integer" name="SpotLag" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Index" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="FixedDayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:integer" name="PaymentLag" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="EOM" minOccurs="0" maxOccurs="1"/>
      <xs:element type="frequencyType" name="FixedFrequency" minOccurs="0" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="FixedConvention" minOccurs="0" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="FixedPaymentConvention" minOccurs="0" maxOccurs="1"/>
      <xs:element type="dateRule" name="Rule" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="PaymentCalendar" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="swapType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="FixedCalendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="frequencyType" name="FixedFrequency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="FixedConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="FixedDayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Index" minOccurs="1" maxOccurs="1"/>
      <xs:element type="frequencyType" name="FloatFrequency" minOccurs="0" maxOccurs="1"/>
      <xs:element type="subPeriodsCouponType" name="SubPeriodsCouponType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="averageOISType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:integer" name="SpotLag" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="FixedTenor" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="FixedDayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="FixedCalendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="FixedConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="FixedPaymentConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Index" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="OnTenor" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="RateCutoff" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tenorBasisSwapType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="LongIndex" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="ShortIndex" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="ShortPayTenor" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="SpreadOnShort" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="IncludeSpread" minOccurs="0" maxOccurs="1"/>
      <xs:element type="subPeriodsCouponType" name="SubPeriodsCouponType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tenorBasisTwoSwapType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Calendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="frequencyType" name="LongFixedFrequency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="LongFixedConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="LongFixedDayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="LongIndex" minOccurs="1" maxOccurs="1"/>
      <xs:element type="frequencyType" name="ShortFixedFrequency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="ShortFixedConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="ShortFixedDayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="ShortIndex" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="LongMinusShort" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bmaBasisSwapType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="LiborIndex" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="BMAIndex" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fxType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:integer" name="SpotDays" minOccurs="1" maxOccurs="1"/>
      <xs:element type="currencyCode" name="SourceCurrency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="currencyCode" name="TargetCurrency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:decimal" name="PointsFactor" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="AdvanceCalendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="SpotRelative" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="AdditionalSettleCalendar" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crossCurrencyBasisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:integer" name="SettlementDays" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="SettlementCalendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="RollConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="FlatIndex" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="SpreadIndex" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="EOM" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="IsResettable" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="FlatIndexIsResettable" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="FlatTenor" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="SpreadTenor" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crossCurrencyFixFloatType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:integer" name="SettlementDays" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="SettlementCalendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="SettlementConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="currencyCode" name="FixedCurrency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="frequencyType" name="FixedFrequency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="FixedConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="FixedDayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Index" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="EOM" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="swapIndexType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Conventions" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inflationswapType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="FixCalendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="FixConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Index" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="Interpolated" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="ObservationLag" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="AdjustInflationObservationDates" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="InflationCalendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="InflationConvention" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cmsSpreadOptionType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="ForwardStart" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="SpotDays" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="SwapTenor" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:integer" name="FixingDays" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Calendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="RollConvention" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commodityForwardType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:integer" name="SpotDays" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:decimal" name="PointsFactor" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="AdvanceCalendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="SpotRelative" minOccurs="0" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="BusinessDayConvention" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="Outright" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="nthWeekdayType">
    <xs:sequence>
      <xs:element name="Nth" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="4"/>
          </xs:restriction> 
        </xs:simpleType>
      </xs:element>
      <xs:element type="weekdayType" name="Weekday" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commodityFutureType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id" minOccurs="1" maxOccurs="1"/>
      <xs:element name="AnchorDay" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:choice>
            <xs:element type="nthWeekdayType" name="NthWeekday"/>
            <xs:element name="DayOfMonth">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="1"/>
                  <xs:maxInclusive value="31"/>
                </xs:restriction> 
              </xs:simpleType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element type="frequencyType" name="ContractFrequency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Calendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:nonNegativeInteger" name="ExpiryMonthLag" minOccurs="0" maxOccurs="1"/>
      <xs:element type="monthType" name="OneContractMonth" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:integer" name="OffsetDays" minOccurs="0" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="BusinessDayConvention" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="AdjustBeforeOffset" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="IsAveraging" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="fxOption">
    <xs:sequence>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="AtmType"/>
      <xs:element type="xs:string" name="DeltaType"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>