xsd/currencyconfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element type="currencyConfig" name="CurrencyConfig"/>

  <xs:element type="currencyDefinition" name="Currency"/>

  <xs:complexType name="currencyConfig">
    <xs:sequence>
      <xs:element type="currencyDefinition" name="Currency" maxOccurs="unbounded" minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="currencyDefinition">
    <xs:all>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="ISOCode"/>
      <xs:element type="xs:string" name="MinorUnitCodes" minOccurs="0"/>
      <xs:element type="xs:integer" name="NumericCode" minOccurs="0"/>
      <xs:element type="xs:string" name="Symbol"/>
      <xs:element type="xs:string" name="FractionSymbol"/>
      <xs:element type="xs:integer" name="FractionsPerUnit"/>
      <xs:element type="roundingType" name="RoundingType"/>
      <xs:element type="xs:integer" name="RoundingPrecision"/>
      <xs:element type="xs:string" name="CurrencyType" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  
</xs:schema>
