xsd/curveconfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="ore_types.xsd"/>

  <xs:complexType name="curveconfiguration">
      <xs:sequence>
        <xs:element type="fxSpots" name="FXSpots" minOccurs="0" />
        <xs:element type="fxVolatilities" name="FXVolatilities" minOccurs="0" />
        <xs:element type="swaptionVolatilities" name="SwaptionVolatilities" minOccurs="0" />
        <xs:element type="capFloorVolatilities" name="CapFloorVolatilities" minOccurs="0" />
        <xs:element type="cdsVolatilities" name="CDSVolatilities" minOccurs="0" />
        <xs:element type="defaultCurves" name="DefaultCurves" minOccurs="0" />
        <xs:element type="yieldCurves" name="YieldCurves" minOccurs="0" />
        <xs:element type="inflationCurves" name="InflationCurves" minOccurs="0" />
        <xs:element type="inflationCapFloorPriceSurfaces" name="InflationCapFloorPriceSurfaces" minOccurs="0" />
        <xs:element type="equityCurves" name="EquityCurves" minOccurs="0" />
        <xs:element type="equityVolatilities" name="EquityVolatilities" minOccurs="0" />
        <xs:element type="securities" name="Securities" minOccurs="0" />
        <xs:element type="baseCorrelations" name="BaseCorrelations" minOccurs="0" />
        <xs:element type="simCommodityCurves" name="CommodityCurves" minOccurs="0" />
        <xs:element type="commodityVolatilities" name="CommodityVolatilities" minOccurs="0" />
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fxSpots">
    <xs:sequence>
      <xs:element type="fxSpot" name="FXSpot" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fxSpot">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fxVolatilities">
    <xs:sequence>
      <xs:element type="fxVolatility" name="FXVolatility" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fxVolatility">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="dimensionType" name="Dimension"/>
      <xs:element type="xs:string" name="Expiries"/>
      <xs:element type="xs:string" name="FXSpotID" minOccurs="0" />
      <xs:element type="xs:string" name="FXForeignCurveID" minOccurs="0" />
      <xs:element type="xs:string" name="FXDomesticCurveID" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="equityVolatilities">
    <xs:sequence>
      <xs:element type="equityVolatility" name="EquityVolatility" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equityVolatility">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="dimensionType" name="Dimension"/>
      <xs:element type="xs:string" name="Expiries"/>
      <xs:element type="xs:string" name="Strikes" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="swaptionVolatilities">
    <xs:sequence>
      <xs:element type="swaptionVolatility" name="SwaptionVolatility" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="swaptionVolatility">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="dimensionType" name="Dimension"/>
      <xs:element type="volatilityType" name="VolatilityType"/>
      <xs:element type="extrapolationType" name="Extrapolation"/>
      <xs:element type="dayCounter" name="DayCounter"/>
      <xs:element type="calendar" name="Calendar"/>
      <xs:element type="businessDayConvention" name="BusinessDayConvention"/>
      <xs:element type="xs:string" name="OptionTenors"/>
      <xs:element type="xs:string" name="SwapTenors"/>
      <xs:element type="xs:string" name="ShortSwapIndexBase"/>
      <xs:element type="xs:string" name="SwapIndexBase"/>
      <xs:element type="xs:string" name="SmileOptionTenors" minOccurs="0"/>
      <xs:element type="xs:string" name="SmileSwapTenors" minOccurs="0"/>
      <xs:element type="xs:string" name="SmileSpreads" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cdsVolatilities">
    <xs:sequence>
      <xs:element type="cdsVolatility" name="CDSVolatility" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cdsVolatility">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="xs:string" name="Expiries"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="capFloorVolatilities">
    <xs:sequence>
      <xs:element type="capFloorVolatility" name="CapFloorVolatility" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="capFloorVolatility">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="volatilityType" name="VolatilityType"/>
      <xs:element type="bool" name="Extrapolation"/>
      <xs:element type="bool" name="IncludeAtm"/>
      <xs:element type="dayCounter" name="DayCounter"/>
      <xs:element type="calendar" name="Calendar"/>
      <xs:element type="businessDayConvention" name="BusinessDayConvention"/>
      <xs:element type="xs:string" name="Tenors"/>
      <xs:element type="xs:string" name="Strikes"/>
      <xs:element type="indexNameType" name="IborIndex"/>
      <xs:element type="xs:string" name="DiscountCurve"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equityCurves">
    <xs:sequence>
      <xs:element type="equityCurve" name="EquityCurve" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equityCurve">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:string" name="ForecastingCurve"/>
      <xs:element type="equityType" name="Type"/>
      <xs:element type="xs:string" name="SpotQuote"/>
      <xs:element type="quoteType" name="Quotes"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="0" maxOccurs="1"/>
      <xs:element type="dividendInterpolation" name="DividendInterpolation" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="defaultCurves">
    <xs:sequence>
      <xs:element type="defaultCurve" name="DefaultCurve" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="defaultCurve">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="defaultCurveType" name="Type"/>
      <xs:element type="xs:string" name="DiscountCurve" minOccurs="0" maxOccurs="1"/>
      <xs:element type="dayCounter" name="DayCounter"/>
      <xs:element type="xs:string" name="RecoveryRate" minOccurs="0" maxOccurs="1"/>
      <xs:element type="quoteType" name="Quotes" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="BenchmarkCurve" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="SourceCurve" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="Pillars" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:decimal" name="SpotLag" minOccurs="0" maxOccurs="1"/>
      <xs:element type="calendar" name="Calendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="Conventions" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="Extrapolation" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="defaultCurveType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SpreadCDS"/>
      <xs:enumeration value="HazardRate"/>
      <xs:enumeration value="Benchmark"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="inflationCurves">
    <xs:sequence>
      <xs:element type="inflationCurve" name="InflationCurve" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inflationCurve">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="xs:string" name="NominalTermStructure" minOccurs="1" maxOccurs="1"/>
      <xs:element type="inflationType" name="Type" minOccurs="1" maxOccurs="1"/>
      <xs:element type="quoteType" name="Quotes"/>
      <xs:element type="xs:string" name="Conventions"/>
      <xs:element type="bool" name="Extrapolation" minOccurs="0" maxOccurs="1"/>
      <xs:element type="calendar" name="Calendar"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="Lag" minOccurs="1" maxOccurs="1"/>
      <xs:element type="frequencyType" name="Frequency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:decimal" name="BaseRate" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:decimal" name="Tolerance" minOccurs="0" maxOccurs="1"/>
      <xs:element type="seasonalityType" name="Seasonality" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="seasonalityType">
    <xs:sequence>
      <xs:element type="date" name="BaseDate" minOccurs="1" maxOccurs="1"/>
      <xs:element type="frequencyType" name="Frequency" minOccurs="1" maxOccurs="1"/>
      <xs:element type="factorType" name="Factors"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inflationCapFloorPriceSurfaces">
    <xs:sequence>
      <xs:element type="inflationCapFloorPriceSurface" name="InflationCapFloorPriceSurface" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inflationCapFloorPriceSurface">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="inflationType" name="Type" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:decimal" name="StartRate" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="ObservationLag" minOccurs="1" maxOccurs="1"/>
      <xs:element type="calendar" name="Calendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="BusinessDayConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Index" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="IndexCurve" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="IndexInterpolated" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="YieldTermStructure" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="CapStrikes" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="FloorStrikes" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="Maturities" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="yieldCurves">
    <xs:sequence>
      <xs:element type="yieldCurve" name="YieldCurve" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="yieldCurve">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:string" name="DiscountCurve"/>
      <xs:element type="segmentsType" name="Segments"/>
      <xs:element type="interpolationVariableType" name="InterpolationVariable" minOccurs="0" maxOccurs="1"/>
      <xs:element type="interpolationMethodType" name="InterpolationMethod" minOccurs="0" maxOccurs="1"/>
      <xs:element type="dayCounter" name="YieldCurveDayCounter" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:decimal" name="Tolerance" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="Extrapolation" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="securities">
    <xs:sequence>
      <xs:element type="security" name="Security" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="security">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="xs:string" name="SpreadQuote"/>
      <xs:element type="xs:string" name="RecoveryRateQuote"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="baseCorrelations">
    <xs:sequence>
      <xs:element type="baseCorrelation" name="BaseCorrelation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="baseCorrelation">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="xs:string" name="Terms"/>
      <xs:element type="xs:string" name="DetachmentPoints"/>
      <xs:element type="xs:float" name="SettlementDays"/>
      <xs:element type="calendar" name="Calendar" minOccurs="1" maxOccurs="1"/>
      <xs:element type="businessDayConvention" name="BusinessDayConvention" minOccurs="1" maxOccurs="1"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="1" maxOccurs="1"/>
      <xs:element type="bool" name="Extrapolate" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="simCommodityCurves">
    <xs:sequence>
      <xs:element type="simCommodityCurve" name="CommodityCurve" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="simCommodityCurve">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:string" name="SpotQuote"/>
      <xs:element type="quoteType" name="Quotes"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="0" maxOccurs="1"/>
      <xs:element name="InterpolationMethod" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="interpolationMethodType">
           <xs:enumeration value="Linear"/>
           <xs:enumeration value="LogLinear"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="bool" name="Extrapolation" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="commodityVolatilities">
    <xs:sequence>
      <xs:element type="commodityVolatility" name="CommodityVolatility" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commodityVolatility">
    <xs:sequence>
      <xs:element type="xs:string" name="CurveId"/>
      <xs:element type="xs:string" name="CurveDescription"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="commodityVolatilityType" name="Type"/>
      <xs:choice>
        <xs:element type="xs:string" name="Quote"/>
        <xs:element type="quoteType" name="Quotes"/>
        <xs:element name="Surface">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Expiries"/>
              <xs:element type="xs:string" name="Strikes" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="0" maxOccurs="1"/>
      <xs:element type="calendar" name="Calendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="Extrapolation" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="LowerStrikeConstantExtrapolation" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="UpperStrikeConstantExtrapolation" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="segmentsType">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element type="directSegmentType" name="Direct"/>
      <xs:element type="simpleSegmentType" name="Simple"/>
      <xs:element type="aoisSegmentType" name="AverageOIS"/>
      <xs:element type="tenorBasisSegmentType" name="TenorBasis"/>
      <xs:element type="crossCurrencySegmentType" name="CrossCurrency"/>
      <xs:element type="zeroSpreadType" name="ZeroSpread"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="directSegmentType">
    <xs:sequence>
      <xs:element type="directSegmentTypeType" name="Type"/>
      <xs:element type="quoteType" name="Quotes"/>
      <xs:element type="xs:string" name="Conventions" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="directSegmentTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Zero"/>
      <xs:enumeration value="Discount"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="simpleSegmentType">
    <xs:sequence>
      <xs:element type="simpleSegmentTypeType" name="Type"/>
      <xs:element type="quoteType" name="Quotes"/>
      <xs:element type="xs:string" name="Conventions"/>
      <xs:element type="xs:string" name="ProjectionCurve" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="simpleSegmentTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Deposit"/>
      <xs:enumeration value="FRA"/>
      <xs:enumeration value="Future"/>
      <xs:enumeration value="OIS"/>
      <xs:enumeration value="Swap"/>
      <xs:enumeration value="BMA Basis Swap"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="aoisSegmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="Type" fixed="Average OIS"/>
      <xs:element type="compositeQuoteType" name="Quotes"/>
      <xs:element type="xs:string" name="Conventions"/>
      <xs:element type="xs:string" name="ProjectionCurve" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tenorBasisSegmentType">
    <xs:sequence>
      <xs:element type="tenorBasisSegmentTypeType" name="Type"/>
      <xs:element type="quoteType" name="Quotes"/>
      <xs:element type="xs:string" name="Conventions"/>
      <xs:element type="xs:string" name="ProjectionCurveLong" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="ProjectionCurveShort" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="tenorBasisSegmentTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tenor Basis Swap"/>
      <xs:enumeration value="Tenor Basis Two Swaps"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="crossCurrencySegmentType">
    <xs:sequence>
      <xs:element type="crossCurrencySegmentTypeType" name="Type"/>
      <xs:element type="quoteType" name="Quotes"/>
      <xs:element type="xs:string" name="Conventions"/>
      <xs:element type="xs:string" name="DiscountCurve"/>
      <xs:element type="xs:string" name="SpotRate"/>
      <xs:element type="xs:string" name="ProjectionCurveDomestic" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="ProjectionCurveForeign" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="crossCurrencySegmentTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cross Currency Basis Swap"/>
      <xs:enumeration value="FX Forward"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="zeroSpreadType">
    <xs:sequence>
      <xs:element type="zeroSpreadSegmentTypeType" name="Type"/>
      <xs:element type="quoteType" name="Quotes"/>
      <xs:element type="xs:string" name="Conventions"/>
      <xs:element type="xs:string" name="ReferenceCurve"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="zeroSpreadSegmentTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Zero Spread"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="quoteType">
    <xs:sequence>
      <xs:element type="xs:string" name="Quote" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="compositeQuoteType">
    <xs:sequence>
      <xs:element name="CompositeQuote" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="SpreadQuote"/>
            <xs:element type="xs:string" name="RateQuote"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="factorType">
    <xs:sequence>
      <xs:element type="xs:string" name="Factor" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="dividendInterpolation">
    <xs:sequence>
      <xs:element type="interpolationVariableType" name="InterpolationVariable" minOccurs="0" maxOccurs="1"/>
      <xs:element type="interpolationMethodType" name="InterpolationMethod" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
