xsd/instruments.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="ore_types.xsd"/>

  <xs:group name="oreTradeData">
    <xs:choice>
      <xs:element type="swapData" name="SwapData"/>
      <xs:element type="swaptionData" name="SwaptionData"/>
      <xs:element type="forwardRateAgreementData" name="ForwardRateAgreementData"/>
      <xs:element type="fxForwardData" name="FxForwardData"/>
      <xs:element type="fxOptionData" name="FxOptionData"/>
      <xs:element type="fxSwapData" name="FxSwapData"/>
      <xs:element type="capFloorData" name="CapFloorData"/>
      <xs:element type="equityOptionData" name="EquityOptionData"/>
      <xs:element type="equityForwardData" name="EquityForwardData"/>
      <xs:element type="bondData" name="BondData"/>
      <xs:element type="creditDefaultSwapData" name="CreditDefaultSwapData"/>
    </xs:choice>
  </xs:group>


  <xs:complexType name="envelope">
    <xs:all>
      <xs:element type="xs:string" name="CounterParty"/>
      <xs:element type="xs:string" name="NettingSetId" minOccurs="0"/>
      <xs:element name="AdditionalFields" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="tradeActions">
    <xs:sequence>
      <xs:element type="tradeAction" name="TradeAction" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tradeAction">
    <xs:sequence>
      <xs:element type="tradeActionType" name="Type"/>
      <xs:element type="tradeActionOwner" name="Owner"/>
      <xs:element type="scheduleData" name="Schedule"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="swapData">
    <xs:sequence>
      <xs:element type="legData" name="LegData" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="swaptionData">
    <xs:choice>
      <xs:sequence>
        <xs:element type="optionData" name="OptionData"/>
        <xs:element type="legData" name="LegData" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element type="legData" name="LegData" maxOccurs="unbounded" minOccurs="1"/>
        <xs:element type="optionData" name="OptionData"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="optionData">
    <xs:all>
      <xs:element type="xs:string" name="LongShort"/>
      <xs:element type="xs:string" name="OptionType"/>
      <xs:element type="xs:string" name="Style" minOccurs="0"/>
      <xs:element type="xs:string" name="Settlement" minOccurs="0"/>
      <xs:element type="xs:string" name="PayOffAtExpiry" minOccurs="0"/>
      <xs:element type="xs:string" name="PremiumAmount" minOccurs="0"/>
      <xs:element type="xs:string" name="PremiumCurrency" minOccurs="0"/>
      <xs:element type="xs:string" name="PremiumPayDate" minOccurs="0"/>
      <xs:element name="ExerciseDates">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="date" name="ExerciseDate" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="bondData">
    <xs:sequence>
      <xs:element type="xs:string" name="IssuerId" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:string" name="CreditCurveId" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:string" name="SecurityId" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:string" name="ReferenceCurveId" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:string" name="SettlementDays" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:string" name="Calendar" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:string" name="IssueDate" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="legData" name="LegData" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="legDataType" abstract="true"/>
  <xs:element name="CashflowData" substitutionGroup="legDataType">
    <xs:complexType>
      <xs:all>
        <xs:element name="Cashflow">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Amount" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute name="Date" type="xs:string" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="FixedLegData" substitutionGroup="legDataType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rates">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rate" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute name="startDate" type="xs:string" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FloatingLegData" substitutionGroup="legDataType">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="indexNameType" name="Index"/>
        <xs:element type="xs:boolean" name="IsInArrears"/>
        <xs:element type="xs:integer" name="FixingDays"/>
        <xs:element type="xs:boolean" name="IsAveraged"/>
        <xs:element type="xs:boolean" name="IsNotResettingXCCY"/>
        <xs:element name="Spreads">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Spread" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute name="startDate" type="xs:string" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="caps" name="Caps" minOccurs="0" maxOccurs="1"/>
        <xs:element type="floors" name="Floors" minOccurs="0" maxOccurs="1"/>
        <xs:element type="gearings" name="Gearings" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:boolean" name="NakedOption" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPILegData" substitutionGroup="legDataType">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="Index"/>
        <xs:element name="Rates">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rate" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute name="startDate" type="xs:string" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:float" name="BaseCPI" maxOccurs="1"/>
        <xs:element type="xs:string" name="ObservationLag" maxOccurs="1"/>
        <xs:element type="bool" name="Interpolated" maxOccurs="1"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="YYLegData" substitutionGroup="legDataType">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="Index"/>
        <xs:element type="xs:integer" name="FixingDays" maxOccurs="1"/>
        <xs:element type="xs:string" name="ObservationLag" maxOccurs="1"/>
        <xs:element type="bool" name="Interpolated" maxOccurs="1"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSLegData" substitutionGroup="legDataType">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="indexNameType" name="Index"/>
        <xs:element type="xs:boolean" name="IsInArrears"/>
        <xs:element type="xs:integer" name="FixingDays"/>
        <xs:element name="Spreads">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Spread" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="caps" name="Caps" minOccurs="0" maxOccurs="1"/>
        <xs:element type="floors" name="Floors" minOccurs="0" maxOccurs="1"/>
        <xs:element type="gearings" name="Gearings" minOccurs="0" maxOccurs="1"/>		
        <xs:element type="xs:boolean" name="NakedOption" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="amortizationData">
    <xs:sequence>
      <xs:element type="amortizationType" name="Type"/>
      <xs:element type="xs:float" name="Value"/>
      <xs:element type="xs:string" name="StartDate"/>
      <xs:element type="xs:string" name="EndDate" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="Frequency" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:boolean" name="Underflow"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="legData">
    <xs:all>
      <xs:element type="xs:boolean" name="Payer"/>
      <xs:element type="legType" name="LegType"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="businessDayConvention" name="PaymentConvention" minOccurs="0"/>
      <xs:element type="dayCounter" name="DayCounter" minOccurs="0"/>
      <xs:element name="Amortizations" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="amortizationData" name="AmortizationData" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Notionals" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Notional" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:float">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element type="fxreset" name="FXReset" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="exchanges" name="Exchanges" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="scheduleData" name="ScheduleData" minOccurs="0">
      </xs:element>
      <xs:element ref="legDataType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="legData_capfloor">
    <xs:all>
      <xs:element type="xs:boolean" name="Payer" minOccurs="0"/>
      <xs:element type="legType" name="LegType"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="businessDayConvention" name="PaymentConvention"/>
      <xs:element type="dayCounter" name="DayCounter"/>
      <xs:element name="Notionals">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:float" name="Notional" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="scheduleData" name="ScheduleData">
      </xs:element>
      <xs:element ref="legDataType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="scheduleData">
    <xs:choice>
      <xs:element name="Rules">
        <xs:complexType>
          <xs:all>
            <xs:element type="date" name="StartDate"/>
            <xs:element type="date" name="EndDate"/>
            <xs:element type="xs:string" name="Tenor"/>
            <xs:element type="calendar" name="Calendar"/>
            <xs:element type="businessDayConvention" name="Convention"/>
            <xs:element type="businessDayConvention" name="TermConvention"/>
            <xs:element type="dateRule" name="Rule" minOccurs="0"/>
            <xs:element type="bool" name="EndOfMonth" minOccurs="0"/>
            <xs:element type="date" name="FirstDate" minOccurs="0"/>
            <xs:element type="date" name="LastDate" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Dates">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="date" name="Date" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="oreTradeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Swap"/>
      <xs:enumeration value="Swaption"/>
      <xs:enumeration value="ForwardRateAgreement"/>
      <xs:enumeration value="FxForward"/>
      <xs:enumeration value="FxOption"/>
      <xs:enumeration value="FxSwap"/>
      <xs:enumeration value="CapFloor"/>
      <xs:enumeration value="EquityOption"/>
      <xs:enumeration value="EquityForward"/>
      <xs:enumeration value="Bond"/>
      <xs:enumeration value="CreditDefaultSwap"/>
      <xs:enumeration value="CMS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="legType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fixed"/>
      <xs:enumeration value="Floating"/>
      <xs:enumeration value="CPI"/>
      <xs:enumeration value="YY"/>
      <xs:enumeration value="CMS"/>
      <xs:enumeration value="Cashflow"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="forwardRateAgreementData">
    <xs:sequence>
      <xs:element type="date" name="StartDate"/>
      <xs:element type="date" name="EndDate"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:string" name="Index"/>
      <xs:element type="longShort" name="LongShort"/>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="xs:float" name="Notional"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fxForwardData">
    <xs:sequence>
      <xs:element type="date" name="ValueDate"/>
      <xs:element type="currencyCode" name="BoughtCurrency"/>
      <xs:element type="xs:float" name="BoughtAmount"/>
      <xs:element type="currencyCode" name="SoldCurrency"/>
      <xs:element type="xs:float" name="SoldAmount"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fxSwapData">
    <xs:all>
      <xs:element type="date" name="NearDate"/>
      <xs:element type="currencyCode" name="NearBoughtCurrency"/>
      <xs:element type="xs:float" name="NearBoughtAmount"/>
      <xs:element type="currencyCode" name="NearSoldCurrency"/>
      <xs:element type="xs:float" name="NearSoldAmount"/>
      <xs:element type="date" name="FarDate"/>
      <xs:element type="xs:float" name="FarBoughtAmount"/>
      <xs:element type="xs:float" name="FarSoldAmount"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="fxOptionData">
    <xs:sequence>
      <xs:element type="optionData" name="OptionData"/>
      <xs:element type="currencyCode" name="BoughtCurrency"/>
      <xs:element type="xs:float" name="BoughtAmount"/>
      <xs:element type="currencyCode" name="SoldCurrency"/>
      <xs:element type="xs:float" name="SoldAmount"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="capFloorData">
    <xs:sequence>
      <xs:element type="longShort" name="LongShort"/>
      <xs:element type="legData_capfloor" name="LegData" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element name="Caps" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Cap" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:float">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Floors" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Floor" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:float">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equityOptionData">
    <xs:sequence>
      <xs:element type="optionData" name="OptionData"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="xs:float" name="Quantity"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equityForwardData">
    <xs:sequence>
      <xs:element type="longShort" name="LongShort"/>
      <xs:element type="date" name="Maturity"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="xs:float" name="Quantity"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="creditDefaultSwapData">
    <xs:all>
      <xs:element type="xs:string" name="IssuerId"/>
      <xs:element type="xs:string" name="CreditCurveId"/>
      <xs:element type="bool" name="SettlesAccrual"/>
      <xs:element type="bool" name="PaysAtDefaultTime"/>
      <xs:element type="date" name="ProtectionStart"/>
      <xs:element type="date" name="UpfrontDate" minOccurs="0"/>
      <xs:element type="xs:float" name="UpfrontFee" minOccurs="0"/>
      <xs:element type="legData" name="LegData" maxOccurs="1" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="nameData">
    <xs:all>
      <xs:element type="xs:string" name="IssuerId"/>
      <xs:element type="xs:string" name="Qualifier"/>
      <xs:element type="xs:string" name="CreditCurveId"/>
      <xs:element type="xs:float" name="Notional"/>
      <xs:element type="currencyCode" name="Currency"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="basketData">
    <xs:sequence>
      <xs:element type="nameData" name="Name" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="tradeActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Break"/>
      <xs:enumeration value="Termination"/>
      <xs:enumeration value="Conversion"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tradeActionOwner">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mutual"/>
      <xs:enumeration value="Sold"/>
      <xs:enumeration value="Bought"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="caps">
    <xs:sequence>
      <xs:element type="xs:double" name="Cap" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="floors">
    <xs:sequence>
      <xs:element type="xs:double" name="Floor" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gearings">
    <xs:sequence>
      <xs:element type="xs:double" name="Gearing" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exchanges">
    <xs:sequence>
      <xs:element type="bool" name="NotionalInitialExchange" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="NotionalFinalExchange" minOccurs="0" maxOccurs="1"/>
      <xs:element type="bool" name="NotionalAmortizingExchange" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fxreset">
    <xs:sequence>
      <xs:element type="currencyCode" name="ForeignCurrency" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element type="xs:double" name="ForeignAmount" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element type="xs:string" name="FXIndex" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element type="xs:integer" name="FixingDays" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>