xsd/instruments_plus.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="scriptlibrary.xsd"/>

  <!-- Redefine 'trade' type from ORE-->
  <xs:redefine schemaLocation="instruments.xsd">
    <xs:complexType name="trade">
      <xs:complexContent>
        <xs:restriction base="trade">
          <xs:sequence>
            <xs:element type="orePlusTradeType" name="TradeType"/>
            <xs:element type="envelope" name="Envelope"/>
            <xs:element type="tradeActions" name="TradeActions" minOccurs="0"/>
            <xs:group ref="orePlusTradeData"/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:redefine>

  <xs:simpleType name="orePlusTradeType">
    <xs:union memberTypes="oreTradeType orePlusAdditionalTradeType"/>
  </xs:simpleType>

  <xs:group name="orePlusTradeData">
    <xs:choice>
      <xs:group ref="oreTradeData"/>
      <xs:group ref="orePlusAdditionalTradeData"/>
    </xs:choice>
  </xs:group>

  <xs:group name="orePlusAdditionalTradeData">
    <xs:choice>
      <xs:element type="multiLegOptionData" name="MultiLegOptionData"/>
      <xs:element type="indexCreditDefaultSwapData" name="IndexCreditDefaultSwapData"/>
      <xs:element type="indexCreditDefaultSwapOptionData" name="IndexCreditDefaultSwapOptionData"/>
      <xs:element type="cdoData" name="CdoData"/>
      <xs:element type="fxDigitalOptionData" name="FxDigitalOptionData"/>
      <xs:element type="fxBarrierOptionData" name="FxBarrierOptionData"/>
      <xs:element type="fxBarrierOptionData" name="FxEuropeanBarrierOptionData"/>
      <xs:element type="fxKIKOBarrierOptionData" name="FxKIKOBarrierOptionData"/>
      <xs:element type="fxBarrierOptionData" name="FxDoubleBarrierOptionData"/>
      <xs:element type="fxDigitalBarrierOptionData" name="FxDigitalBarrierOptionData"/>
      <xs:element type="fxTouchOptionData" name="FxTouchOptionData"/>
      <xs:element type="fxTouchOptionData" name="FxDoubleTouchOptionData"/>
      <xs:element type="sensiTradeData" name="SensiTradeData"/>
      <xs:element type="imScheduleTradeData" name="IMScheduleTradeData"/>
      <xs:element type="varianceSwapData" name="VarianceSwapData"/>
      <xs:element type="varianceSwapData" name="EquityVarianceSwapData"/>
      <xs:element type="varianceSwapData" name="FxVarianceSwapData"/>
      <xs:element type="eqBarrierOptionData" name="EquityBarrierOptionData"/>
      <xs:element type="eqBarrierOptionData" name="EquityEuropeanBarrierOptionData"/>
      <xs:element type="eqDigitalOptionData" name="EquityDigitalOptionData"/>
      <xs:element type="eqTouchOptionData" name="EquityTouchOptionData"/>
      <xs:element type="flexiSwapData" name="FlexiSwapData"/>
      <xs:element type="bgSwapData" name="BalanceGuaranteedSwapData"/>
      <xs:element type="bondOptionData" name="BondOptionData"/>
      <xs:element type="bondTRSData" name="BondTRSData"/>
      <xs:element type="convertibleBondData" name="ConvertibleBondData"/>
      <xs:element type="callableSwapData" name="CallableSwapData"/>
      <xs:element type="commoditySwapData" name="CommoditySwapData"/>
      <xs:element type="commoditySwaptionData" name="CommoditySwaptionData"/>
      <xs:element type="commodityAveragePriceOptionData" name="CommodityAveragePriceOptionData"/>
      <xs:element type="commodityOptionStripData" name="CommodityOptionStripData"/>
      <xs:element type="rpaData" name="RiskParticipationAgreementData"/>
      <xs:element type="compositeTradeData" name="CompositeTradeData"/>
      <xs:element type="totalReturnSwapData" name="TotalReturnSwapData"/>
      <xs:element type="cliquetOptionData" name="EquityCliquetOptionData"/>
      <xs:element type="tarfData2" name="FxTaRFData"/>
      <xs:element type="tarfData2" name="EquityTaRFData"/>
      <xs:element type="tarfData2" name="CommodityTaRFData"/>
      <xs:element type="accumulatorData" name="FxAccumulatorData"/>
      <xs:element type="accumulatorData" name="EquityAccumulatorData"/>
      <xs:element type="accumulatorData" name="CommodityAccumulatorData"/>
      <xs:element type="basketOptionData" name="EquityBasketOptionData"/>
      <xs:element type="basketOptionData" name="FxBasketOptionData"/>
      <xs:element type="basketOptionData" name="CommodityBasketOptionData"/>
      <xs:element type="rainbowOptionData" name="EquityRainbowOptionData"/>
      <xs:element type="rainbowOptionData" name="FxRainbowOptionData"/>
      <xs:element type="rainbowOptionData" name="CommodityRainbowOptionData"/>
      <xs:element type="autocallable01Data" name="Autocallable01Data"/>
      <xs:element type="doubleDigitalOptionData" name="DoubleDigitalOptionData"/>
      <xs:element type="performanceOption01Data" name="PerformanceOption01Data"/>
      <xs:element type="scriptedTradeData" name="ScriptedTradeData"/>
      <xs:element type="vanillaBasketOptionData" name="VanillaBasketOptionData"/>
      <xs:element type="asianBasketOptionData" name="AsianBasketOptionData"/>
      <xs:element type="averageStrikeBasketOptionData" name="AverageStrikeBasketOptionData"/>
      <xs:element type="lookbackCallBasketOptionData" name="LookbackCallBasketOptionData"/>
      <xs:element type="lookbackPutBasketOptionData" name="LookbackPutBasketOptionData"/>
      <xs:element type="bestOfAssetOrCashRainbowOptionData" name="BestOfAssetOrCashRainbowOptionData"/>
      <xs:element type="worstOfAssetOrCashRainbowOptionData" name="WorstOfAssetOrCashRainbowOptionData"/>
      <xs:element type="minRainbowOptionData" name="MinRainbowOptionData"/>
      <xs:element type="maxRainbowOptionData" name="MaxRainbowOptionData"/>
      <xs:element type="windowBarrierOptionData" name="WindowBarrierOptionData"/>
      <xs:element type="accumulator01Data" name="Accumulator01Data"/>
      <xs:element type="accumulator02Data" name="Accumulator02Data"/>
      <xs:element type="tarfData" name="TaRFData"/>
      <xs:element type="europeanRainbowCallSpreadOptionData" name="EuropeanRainbowCallSpreadOptionData"/>
      <xs:element type="asianIrCapFloorData" name="AsianIrCapFloorData"/>
      <xs:element type="cbodata" name="CBOData"/>
      <xs:element type="bondbasketdata" name="BondBasketData"/>
      <xs:element type="bondRepoData" name="BondRepoData"/>
      <xs:element type="equityPositionData" name="EquityPositionData"/>
    </xs:choice>
  </xs:group>

  <xs:simpleType name="orePlusAdditionalTradeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MultiLegOption"/>
      <xs:enumeration value="IndexCreditDefaultSwap"/>
      <xs:enumeration value="IndexCreditDefaultSwapOption"/>
      <xs:enumeration value="SyntheticCDO"/>
      <xs:enumeration value="FxDigitalOption"/>
      <xs:enumeration value="FxBarrierOption"/>
      <xs:enumeration value="FxEuropeanBarrierOption"/>
      <xs:enumeration value="FxKIKOBarrierOption"/>
      <xs:enumeration value="FxDoubleBarrierOption"/>
      <xs:enumeration value="FxTouchOption"/>
      <xs:enumeration value="FxDoubleTouchOption"/>
      <xs:enumeration value="FxDigitalBarrierOption"/>
      <xs:enumeration value="SensiTrade"/>
      <xs:enumeration value="IMScheduleTrade"/>
      <xs:enumeration value="EquityVarianceSwap"/>
      <xs:enumeration value="EquityBarrierOption"/>
      <xs:enumeration value="EquityEuropeanBarrierOption"/>
      <xs:enumeration value="EquityTouchOption"/>
      <xs:enumeration value="EquityDigitalOption"/>
      <xs:enumeration value="EquityCliquetOption"/>
      <xs:enumeration value="FxVarianceSwap"/>
      <xs:enumeration value="FlexiSwap"/>
      <xs:enumeration value="BalanceGuaranteedSwap"/>
      <xs:enumeration value="BondOption"/>
      <xs:enumeration value="BondTRS"/>
      <xs:enumeration value="ConvertibleBond"/>
      <xs:enumeration value="CallableSwap"/>
      <xs:enumeration value="CommoditySwap"/>
      <xs:enumeration value="CommoditySwaption"/>
      <xs:enumeration value="CommodityAveragePriceOption"/>
      <xs:enumeration value="CommodityOptionStrip"/>
      <xs:enumeration value="BondOption"/>
      <xs:enumeration value="RiskParticipationAgreement"/>
      <xs:enumeration value="ScriptedTrade"/>
      <xs:enumeration value="Autocallable_01"/>
      <xs:enumeration value="DoubleDigitalOption"/>
      <xs:enumeration value="PerformanceOption_01"/>
      <xs:enumeration value="FxTaRF"/>
      <xs:enumeration value="EquityTaRF"/>
      <xs:enumeration value="CommodityTaRF"/>
      <xs:enumeration value="FxAccumulator"/>
      <xs:enumeration value="EquityAccumulator"/>
      <xs:enumeration value="CommodityAccumulator"/>
      <xs:enumeration value="FxBasketOption"/>
      <xs:enumeration value="EquityBasketOption"/>
      <xs:enumeration value="CommodityBasketOption"/>
      <xs:enumeration value="FxRainbowOption"/>
      <xs:enumeration value="EquityRainbowOption"/>
      <xs:enumeration value="CommodityRainbowOption"/>
      <xs:enumeration value="CompositeTrade"/>
      <xs:enumeration value="CBO"/>
      <xs:enumeration value="TotalReturnSwap"/>
      <xs:enumeration value="BondRepo"/>
      <xs:enumeration value="EquityPosition"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="multiLegOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData"  maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="legData" name="LegData"  maxOccurs="unbounded" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="indexCreditDefaultSwapData">
    <xs:all>
      <xs:element type="xs:string" name="CreditCurveId"/>
      <xs:element type="bool" name="SettlesAccrual" minOccurs="0"/>
      <xs:element type="bool" name="PaysAtDefaultTime" minOccurs="0"/>
      <xs:element type="xs:string" name="ProtectionPaymentTime" minOccurs="0"/>
      <xs:element type="date" name="ProtectionStart" minOccurs="0"/>
      <xs:element type="date" name="UpfrontDate" minOccurs="0"/>
      <xs:element type="xs:float" name="UpfrontFee" minOccurs="0"/>
      <xs:element type="legData" name="LegData"/>
      <xs:element type="basketData" name="BasketData" maxOccurs="1" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="indexCreditDefaultSwapOptionData">
    <xs:all>
      <xs:element type="bool" name="KnockOut"/>
      <xs:element type="xs:string" name="IndexTerm" minOccurs="0" maxOccurs="1"/>
      <xs:element type="optionData" name="OptionData"/>
      <xs:element type="indexCreditDefaultSwapData" name="IndexCreditDefaultSwapData"/>
      <xs:element type="xs:float" name="Strike" minOccurs="0"/>
      <xs:element type="cdsOptionstrikeType" name="StrikeType" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="cdsOptionstrikeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Spread"/>
      <xs:enumeration value="Price"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="cdoData">
    <xs:all>
      <xs:element type="xs:string" name="Qualifier"/>
      <xs:element type="date" name="ProtectionStart"/>
      <xs:element type="date" name="UpfrontDate" minOccurs="0"/>
      <xs:element type="emptyFloat" name="UpfrontFee" minOccurs="0"/>
      <xs:element type="bool" name="SettlesAccrual" minOccurs="0"/>
      <xs:element type="bool" name="PaysAtDefaultTime" minOccurs="0"/>
      <xs:element type="xs:string" name="ProtectionPaymentTime" minOccurs="0"/>
      <xs:element type="xs:float" name="AttachmentPoint"/>
      <xs:element type="xs:float" name="DetachmentPoint"/>
      <xs:element type="legData" name="LegData"/>
      <xs:element type="basketData" name="BasketData" maxOccurs="1" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="nameData">
    <xs:all>
      <xs:element type="xs:string" name="IssuerId"/>
      <xs:element type="xs:string" name="Qualifier" maxOccurs="1" minOccurs="0"/>
      <xs:element ref="creditCurveIdType"/>
      <xs:element type="xs:float" name="Notional"/>
      <xs:element type="currencyCode" name="Currency"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="basketData">
    <xs:all>
      <xs:element type="nameData" name="Name" maxOccurs="unbounded" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="barrierType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UpAndOut"/>
      <xs:enumeration value="UpAndIn"/>
      <xs:enumeration value="DownAndOut"/>
      <xs:enumeration value="DownAndIn"/>
      <xs:enumeration value="KnockIn"/>
      <xs:enumeration value="KnockOut"/>
      <xs:enumeration value="CumulatedProfitCap"/>
      <xs:enumeration value="CumulatedProfitCap"/>
      <xs:enumeration value="FixingCap"/>
      <xs:enumeration value="FixingFloor"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="barrierStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="American"/>
      <xs:enumeration value="European"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="barrierData">
    <xs:all>
      <xs:element type="barrierType" name="Type"/>
      <xs:element type="barrierStyle" name="Style" minOccurs="0"/>
      <xs:element name="Levels">
        <xs:complexType>
          <xs:all>
            <xs:element type="xs:float" name="Level" minOccurs="1" maxOccurs="unbounded"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:float" name="Rebate" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="rangeBound">
    <xs:all>
      <xs:element type="xs:float" name="RangeFrom" minOccurs="0"/>
      <xs:element type="xs:float" name="RangeTo" minOccurs="0"/>
      <xs:element type="xs:float" name="Leverage" minOccurs="0"/>
      <xs:element type="xs:float" name="Strike" minOccurs="0"/>
      <xs:element type="xs:float" name="StrikeAdjustment" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="bondOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData"/>
      <xs:element type="xs:string" name="Strike" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:string" name="Redemption" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:string" name="PriceType" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="bool" name="KnocksOut" maxOccurs="1" minOccurs="0"/>
      <xs:element type="bondData" name="BondData" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="bondTRSData">
    <xs:all>
      <xs:element type="bondData" name="BondData" maxOccurs="1" minOccurs="1"/>
      <xs:element type="totalReturnData" name="TotalReturnData" maxOccurs="1" minOccurs="1"/>
      <xs:element type="fundingData" name="FundingData" maxOccurs="1" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="callabilityData">
    <xs:all>
      <xs:element name="Types">
        <xs:complexType>
          <xs:all>
            <xs:element name="Type" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="optionType">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Dates">
        <xs:complexType>
          <xs:all>
            <xs:element type="date" name="Date" maxOccurs="unbounded"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Prices">
        <xs:complexType>
          <xs:all>
            <xs:element name="Price" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:float">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="PriceTypes">
        <xs:complexType>
          <xs:all>
            <xs:element name="PriceType" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="bondPriceType">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Soft" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element name="Soft" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:boolean">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="TriggerRatios" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element name="TriggerRatio" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:float">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="conversionData">
    <xs:all>
      <xs:element type="exerciseStyle" name="Style"/>
      <xs:element name="Dates" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element type="date" name="Date" maxOccurs="unbounded"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:float" name="ConversionRatio"/>
      <xs:element type= "underlying" name="Underlying"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="convertibleBondData">
    <xs:all>
      <xs:element type="bondData" name="BondData"/>
      <xs:element type="callabilityData" name="CallabilityData" minOccurs="0"/>
      <xs:element type="conversionData" name="ConversionData" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="equityPositionData">
    <xs:all>
      <xs:element type="xs:float" name="Quantity"/>
      <xs:element type="underlying" name="Underlying" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="fundingData">
    <xs:all>
      <xs:element type="legData" name="LegData" maxOccurs="1" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="totalReturnData">
    <xs:all>
      <xs:element type="xs:string" name="Payer" maxOccurs="1" minOccurs="1"/>
      <xs:element type="xs:float" name="InitialPrice" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="PriceType" maxOccurs="1" minOccurs="1"/>
      <xs:element name="FXTerms" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element type="xs:string" name="FXIndex" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:integer" name="FXIndexFixingDays" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="FXIndexCalendar" minOccurs="0" maxOccurs="1"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element type="scheduleData" name="ScheduleData" maxOccurs="1" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="fxDigitalOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData"  maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="currencyCode" name="PayoffCurrency" minOccurs="0"/>
      <xs:element type="xs:float" name="PayoffAmount"/>
      <xs:element type="currencyCode" name="ForeignCurrency"/>
      <xs:element type="currencyCode" name="DomesticCurrency"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="fxBarrierOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData"  maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="barrierData" name="BarrierData"  maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="date" name="StartDate"  minOccurs="0"/>
      <xs:element type="calendar" name="Calendar"  minOccurs="0"/>
      <xs:element type="xs:string" name="FXIndex"  minOccurs="0"/>
      <xs:element type="currencyCode" name="BoughtCurrency"/>
      <xs:element type="xs:float" name="BoughtAmount"/>
      <xs:element type="currencyCode" name="SoldCurrency"/>
      <xs:element type="xs:float" name="SoldAmount"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="fxKIKOBarrierOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData"/>
      <xs:element name="Barriers">
        <xs:complexType>
          <xs:all>
            <xs:element type="barrierData" name="BarrierData"  maxOccurs="2" minOccurs="2"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element type="date" name="StartDate"  minOccurs="0"/>
      <xs:element type="calendar" name="Calendar"  minOccurs="0"/>
      <xs:element type="xs:string" name="FXIndex"  minOccurs="0"/>
      <xs:element type="currencyCode" name="BoughtCurrency"/>
      <xs:element type="xs:float" name="BoughtAmount"/>
      <xs:element type="currencyCode" name="SoldCurrency"/>
      <xs:element type="xs:float" name="SoldAmount"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="fxDigitalBarrierOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData"  maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="barrierData" name="BarrierData"  maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="date" name="StartDate"  minOccurs="0"/>
      <xs:element type="calendar" name="Calendar"  minOccurs="0"/>
      <xs:element type="xs:string" name="FXIndex"  minOccurs="0"/>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="xs:float" name="PayoffAmount"/>
      <xs:element type="currencyCode" name="PayoffCurrency" minOccurs="0"/>
      <xs:element type="currencyCode" name="ForeignCurrency"/>
      <xs:element type="currencyCode" name="DomesticCurrency"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="fxTouchOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData"  maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="barrierData" name="BarrierData"  maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="currencyCode" name="ForeignCurrency"/>
      <xs:element type="currencyCode" name="DomesticCurrency"/>
      <xs:element type="currencyCode" name="PayoffCurrency"/>
      <xs:element type="xs:float" name="PayoffAmount"/>
      <xs:element type="date" name="StartDate" minOccurs="0"/>
      <xs:element type="xs:string" name="FXIndex" minOccurs="0"/>
      <xs:element type="xs:string" name="Calendar" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="flexiSwapData">
    <xs:all>
      <xs:element name="LowerNotionalBounds" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element name="Notional" maxOccurs="unbounded" minOccurs="1">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:float">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Prepayment" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element type="xs:string" name="NoticePeriod" minOccurs="0"/>
            <xs:element type="xs:string" name="NoticeCalendar" minOccurs="0"/>
            <xs:element type="xs:string" name="NoticeConvention" minOccurs="0"/>
            <xs:all>
              <xs:element name="PrepaymentOptions" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="PrepaymentOption" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element type="date" name="ExerciseDate"/>
                          <xs:element type="xs:string" name="Type"/>
                          <xs:element type="xs:float" name="Value"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element type="longShort" name="OptionLongShort"/>
      <xs:element type="legData" name="LegData"  maxOccurs="2" minOccurs="2"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="bgSwapData">
    <xs:all>
      <xs:element type="xs:string" name="ReferenceSecurity"/>
      <xs:element type="tranches" name="Tranches" maxOccurs="1" minOccurs="1"/>
      <xs:element type="legData" name="LegData"  maxOccurs="2" minOccurs="2"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="tranches">
    <xs:all>
      <xs:element type="tranche" name="Tranche" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="scheduleData" name="ScheduleData"  maxOccurs="1" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="tranche">
    <xs:all>
      <xs:element type="xs:string" name="Description" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="SecurityId" maxOccurs="1" minOccurs="1"/>
      <xs:element type="xs:integer" name="Seniority" maxOccurs="1" minOccurs="1"/>
      <xs:element name="Notionals" maxOccurs="1" minOccurs="1">
        <xs:complexType>
          <xs:all>
            <xs:element name="Notional" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:float">
                    <xs:attribute name="startDate" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="emptyFloat">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base='xs:string'>
          <xs:length value="0"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base='xs:float'>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="sensiTradeData">
    <xs:all>
      <xs:element type="xs:float" name="NPV"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:float" name="Notional"/>
      <xs:element type="date" name="Maturity"/>
      <xs:element type="xs:string" name="ProductClass" minOccurs="1"/>
      <xs:element type="sensiTradeSensis" name="Sensitivities" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="sensiTradeSensis">
    <xs:all>
      <xs:element name="Sensitivity" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element type="sensiType" name="Type"/>
            <xs:element type="xs:string" name="Factor"/>
            <xs:element type="shiftType" name="ShiftType"/>
            <xs:element type="xs:float" name="ShiftSize"/>
            <xs:element type="xs:float" name="Value"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="sensiType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Delta"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="imScheduleProductClass">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Rates"/>
      <xs:enumeration value="FX"/>
      <xs:enumeration value="Equity"/>
      <xs:enumeration value="Credit"/>
      <xs:enumeration value="Commodity"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="imScheduleTradeData">
    <xs:all>
      <xs:element type="imScheduleProductClass" name="ProductClass" minOccurs="1"/>
      <xs:element type="xs:float" name="Notional"/>
      <xs:element type="currencyCode" name="NotionalCurrency"/>
      <xs:element type="xs:float" name="PresentValue"/>
      <xs:element type="currencyCode" name="PresentValueCurrency"/>
      <xs:element type="isodate" name="EndDate"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="shiftType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Relative"/>
      <xs:enumeration value="Absolute"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="varianceSwapData">
    <xs:all>
      <xs:element type="date" name="StartDate"/>
      <xs:element type="date" name="EndDate"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element ref="equityNameType"/>
      <xs:element type="xs:string" name="LongShort"/>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="xs:float" name="Notional"/>
      <xs:element type="calendar" name="Calendar"/>
      <xs:element type="momentType" name="MomentType" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:boolean" name="AddPastDividends" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="eqBarrierOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData" minOccurs="1"/>
      <xs:element type="barrierData" name="BarrierData" minOccurs="1"/>
      <xs:element type="date" name="StartDate" minOccurs="0" maxOccurs="1"/>
      <xs:element type="calendar" name="Calendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="EQIndex" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="equityNameType"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="xs:float" name="Quantity"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="eqDigitalOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData" minOccurs="1"/>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="currencyCode" name="PayoffCurrency" minOccurs="0"/>
      <xs:element type="xs:float" name="PayoffAmount"/>
      <xs:element ref="equityNameType"/>
      <xs:element type="xs:float" name="Quantity"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="eqTouchOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData" minOccurs="1"/>
      <xs:element type="barrierData" name="BarrierData" minOccurs="1"/>
      <xs:element ref="equityNameType"/>
      <xs:element type="currencyCode" name="PayoffCurrency"/>
      <xs:element type="xs:float" name="PayoffAmount"/>
      <xs:element type="date" name="StartDate" minOccurs="0" maxOccurs="1"/>
      <xs:element type="calendar" name="Calendar" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="EQIndex" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="FormulaBasedLegData" substitutionGroup="legDataType">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="Index"/>
        <xs:element type="xs:boolean" name="IsInArrears" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:integer" name="FixingDays"/>
        <xs:element type="calendar" name="FixingCalendar" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="callableSwapData">
    <xs:choice>
      <xs:all>
        <xs:element type="optionData" name="OptionData"/>
        <xs:element type="legData" name="LegData" maxOccurs="unbounded" minOccurs="1"/>
      </xs:all>
      <xs:all>
        <xs:element type="legData" name="LegData" maxOccurs="unbounded" minOccurs="1"/>
        <xs:element type="optionData" name="OptionData"/>
      </xs:all>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="priceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Spot"/>
      <xs:enumeration value="FutureSettlement"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="quantitiesType">
    <xs:all>
      <xs:element name="Quantity" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="startDate" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="pricesType">
    <xs:all>
      <xs:element name="Price" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="startDate" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="commodityQuantityFrequencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PerCalculationPeriod"/>
      <xs:enumeration value="PerCalendarDay"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="commodityPayRelativeToType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CalculationPeriodStartDate"/>
      <xs:enumeration value="CalculationPeriodEndDate"/>
      <xs:enumeration value="TerminationDate"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pricingDateRuleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FutureExpiryDate"/>
      <xs:enumeration value="None"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="CommodityFixedLegData" substitutionGroup="legDataType">
    <xs:complexType>
      <xs:all>
        <xs:element type="quantitiesType" name="Quantities"/>
        <xs:element type="pricesType" name="Prices"/>
        <xs:element type="commodityQuantityFrequencyType" name="CommodityQuantityFrequency" minOccurs="0" maxOccurs="1"/>
        <xs:element type="commodityPayRelativeToType" name="CommodityPayRelativeTo" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="CommodityFloatingLegData" substitutionGroup="legDataType">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="priceType" name="PriceType"/>
        <xs:element type="quantitiesType" name="Quantities"/>
        <xs:element type="commodityQuantityFrequencyType" name="CommodityQuantityFrequency" minOccurs="0" maxOccurs="1"/>
        <xs:element type="commodityPayRelativeToType" name="CommodityPayRelativeTo" minOccurs="0" maxOccurs="1"/>
        <xs:element type="spreads" name="Spreads" minOccurs="0" maxOccurs="1"/>
        <xs:element type="gearings" name="Gearings" minOccurs="0" maxOccurs="1"/>
        <xs:element type="pricingDateRuleType" name="PricingDateRule" minOccurs="0" maxOccurs="1"/>
        <xs:element type="calendar" name="PricingCalendar" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:integer" name="PricingLag" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PricingDates" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element type="date" name="PricingDate" minOccurs="1" maxOccurs="unbounded"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:boolean" name="IsAveraged" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:boolean" name="IsInArrears" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:integer" name="FutureMonthOffset" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:integer" name="DeliveryRollDays" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:boolean" name="IncludePeriodEnd" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="commoditySwapData">
    <xs:all>
      <xs:element type="legData" name="LegData" maxOccurs="unbounded" minOccurs="2"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="commoditySwaptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData"/>
      <xs:element type="legData" name="LegData" maxOccurs="2" minOccurs="2"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="commodityAveragePriceOptionData">
    <xs:all>
      <xs:element type="optionData" name="OptionData"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:float" name="Quantity"/>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="priceType" name="PriceType"/>
      <xs:element type="date" name="StartDate"/>
      <xs:element type="date" name="EndDate"/>
      <xs:element type="calendar" name="PaymentCalendar"/>
      <xs:element type="xs:string" name="PaymentLag"/>
      <xs:element type="businessDayConvention" name="PaymentConvention"/>
      <xs:element type="calendar" name="PricingCalendar"/>
      <xs:element type="date" name="PaymentDate" minOccurs="0" maxOccurs="1"/>
      <xs:element type="positiveDecimal" name="Gearing" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:float" name="Spread" minOccurs="0" maxOccurs="1"/>
      <xs:element type="commodityQuantityFrequencyType" name="CommodityQuantityFrequency" minOccurs="0" maxOccurs="1"/>
      <xs:element type="commodityPayRelativeToType" name="CommodityPayRelativeTo" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:integer" name="FutureMonthOffset" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:integer" name="DeliveryRollDays" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:boolean" name="IncludePeriodEnd" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="cliquetOptionData">
    <xs:all>
      <xs:element ref="equityNameType"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="xs:float" name="Notional"/>
      <xs:element type="longShort" name="LongShort"/>
      <xs:element type="optionType" name="OptionType"/>
      <xs:element type="xs:float" name="Moneyness"/>
      <xs:element type="xs:float" name="LocalCap" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:float" name="LocalFloor" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:float" name="GlobalCap" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:float" name="GlobalFloor" minOccurs="0" maxOccurs="1"/>
      <xs:element type="scheduleData" name="ScheduleData"/>
      <xs:element type="xs:integer" name="SettlementDays" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:float" name="Premium" minOccurs="0" maxOccurs="1"/>
      <xs:element type="date" name="PremiumPaymentDate" minOccurs="0" maxOccurs="1"/>
      <xs:element type="currencyCode" name="PremiumCurrency" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="longShortsType">
    <xs:all>
      <xs:element type="longShort" name="LongShort" minOccurs="0" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="strikes">
    <xs:all>
      <xs:element type="xs:float" name="Strike" minOccurs="0" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="callsPutsType">
    <xs:all>
      <xs:element type="longShortsType" name="LongShorts" minOccurs="0" maxOccurs="1"/>
      <xs:element type="strikes" name="Strikes" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="commodityOptionStripData">
    <xs:all>
      <xs:element type="legData" name="LegData" maxOccurs="1" minOccurs="1"/>
      <xs:element type="callsPutsType" name="Calls" maxOccurs="1" minOccurs="0"/>
      <xs:element type="callsPutsType" name="Puts" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="PremiumAmount" minOccurs="0"/>
      <xs:element type="xs:string" name="PremiumCurrency" minOccurs="0"/>
      <xs:element type="xs:string" name="PremiumPayDate" minOccurs="0"/>
      <xs:element type="xs:string" name="Style" minOccurs="0"/>
      <xs:element type="settlementType" name="Settlement" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="rpaData">
    <xs:all>
      <xs:element type="xs:float" name="ParticipationRate"/>
      <xs:element type="date" name="ProtectionStart"/>
      <xs:element type="date" name="ProtectionEnd"/>
      <xs:element type="xs:string" name="CreditCurveId"/>
      <xs:element type="xs:string" name="IssuerId" minOccurs="0"/>
      <xs:element type="xs:boolean" name="SettlesAccrual" minOccurs="0"/>
      <xs:element type="xs:float" name="FixedRecoveryRate" minOccurs="0"/>
      <xs:element name="ProtectionFee">
        <xs:complexType>
          <xs:all>
            <xs:element type="legData" name="LegData" maxOccurs="unbounded"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Underlying">
        <xs:complexType>
          <xs:all>
            <xs:element type="legData" name="LegData" maxOccurs="unbounded"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="scriptedTradeData">
    <xs:all>
      <xs:choice>
        <xs:element type="xs:string" name="ScriptName"/>
        <xs:element type="ore_script" name="Script"/>
      </xs:choice>
      <xs:element name="Data">
        <xs:complexType>
          <xs:all>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Number">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:choice>
                      <xs:element name="Value"/>
                      <xs:element name="Values">
                        <xs:complexType>
                          <xs:all>
                            <xs:element type="xs:float" name="Value" maxOccurs="unbounded"/>
                          </xs:all>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="Currency">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:choice>
                      <xs:element name="Value"/>
                      <xs:element name="Values">
                        <xs:complexType>
                          <xs:all>
                            <xs:element type="currencyCode" name="Value" maxOccurs="unbounded"/>
                          </xs:all>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="Index">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:choice>
                      <xs:element name="Value"/>
                      <xs:element name="Values">
                        <xs:complexType>
                          <xs:all>
                            <xs:element type="xs:string" name="Value" maxOccurs="unbounded"/>
                          </xs:all>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="Event">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:choice>
                      <xs:element name="Value"/>
                      <xs:element type="scheduleData" name="ScheduleData"/>
                      <xs:element name="DerivedSchedule">
                        <xs:complexType>
                          <xs:all>
                            <xs:element type="xs:string" name="BaseSchedule"/>
                            <xs:element type="xs:string" name="Shift"/>
                            <xs:element type="xs:string" name="Calendar"/>
                            <xs:element type="xs:string" name="Convention"/>
                          </xs:all>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                    <xs:element type="bool" name="ApplyCoarsening" minOccurs="0"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="Daycounter">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:choice>
                      <xs:element name="Value"/>
                      <xs:element name="Values">
                        <xs:complexType>
                          <xs:all>
                            <xs:element type="dayCounter" name="Value" maxOccurs="unbounded"/>
                          </xs:all>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleEvent">
    <xs:simpleContent>
      <xs:extension base="date">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="event"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleNumber">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="number"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleIndex">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="index"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleCurrency">
    <xs:simpleContent>
      <xs:extension base="currencyCode">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="currency"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleDayCounter">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="dayCounter"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleBool">
    <xs:simpleContent>
      <xs:extension base="xs:boolean">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="bool"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleOptionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="optionType"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleLongShort">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="longShort"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleBarrierType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="barrierType"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleEventScheduleBase">
    <xs:all>
      <xs:choice>
        <xs:element type="scheduleData" name="ScheduleData"/>
        <xs:element name="DerivedSchedule">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="BaseSchedule"/>
              <xs:element type="xs:string" name="Shift"/>
              <xs:element type="xs:string" name="Calendar"/>
              <xs:element type="xs:string" name="Convention"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleEventSchedule">
    <xs:complexContent>
      <xs:extension base="stFreeStyleEventScheduleBase">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="event"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleNumberVectorBase">
    <xs:all>
      <xs:element type="xs:float" name="Value" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleNumberVector">
    <xs:complexContent>
      <xs:extension base="stFreeStyleNumberVectorBase">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="number"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleIndexVectorBase">
    <xs:all>
      <xs:element type="xs:string" name="Value" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleIndexVector">
    <xs:complexContent>
      <xs:extension base="stFreeStyleIndexVectorBase">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="index"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleCurrencyVectorBase">
    <xs:all>
      <xs:element type="currencyCode" name="Value" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleCurrencyVector">
    <xs:complexContent>
      <xs:extension base="stFreeStyleCurrencyVectorBase">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="currency"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleDayCounterVectorBase">
    <xs:all>
      <xs:element type="xs:string" name="Value" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleDayCounterVector">
    <xs:complexContent>
      <xs:extension base="stFreeStyleDayCounterVectorBase">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="dayCounter"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleBoolVectorBase">
    <xs:all>
      <xs:element type="xs:boolean" name="Value" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleBoolVector">
    <xs:complexContent>
      <xs:extension base="stFreeStyleDayCounterVectorBase">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="bool"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleOptionTypeVectorBase">
    <xs:all>
      <xs:element type="xs:string" name="Value" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleOptionTypeVector">
    <xs:complexContent>
      <xs:extension base="stFreeStyleOptionTypeVectorBase">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="optionType"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleLongShortVectorBase">
    <xs:all>
      <xs:element type="xs:string" name="Value" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleLongShortVector">
    <xs:complexContent>
      <xs:extension base="stFreeStyleOptionTypeVectorBase">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="longShort"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stFreeStyleBarrierTypeVectorBase">
    <xs:all>
      <xs:element type="xs:string" name="Value" maxOccurs="unbounded"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="stFreeStyleBarrierTypeVector">
    <xs:complexContent>
      <xs:extension base="stFreeStyleOptionTypeVectorBase">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="barrierType"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="asianBasketOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleEventSchedule" name="ObservationDates"/>
      <xs:element type="stFreeStyleOptionType" name="PutCall"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Notional"/>
      <xs:element type="stFreeStyleNumber" name="Strike"/>
      <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
      <xs:element type="stFreeStyleNumberVector" name="Weights"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="averageStrikeBasketOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleEventSchedule" name="ObservationDates"/>
      <xs:element type="stFreeStyleOptionType" name="PutCall"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Notional"/>
      <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
      <xs:element type="stFreeStyleNumberVector" name="Weights"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="lookbackCallBasketOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleEventSchedule" name="ObservationDates"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Notional"/>
      <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
      <xs:element type="stFreeStyleNumberVector" name="Weights"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="lookbackPutBasketOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleEventSchedule" name="ObservationDates"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Notional"/>
      <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
      <xs:element type="stFreeStyleNumberVector" name="Weights"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="vanillaBasketOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleOptionType" name="PutCall"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Notional"/>
      <xs:element type="stFreeStyleNumber" name="Strike"/>
      <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
      <xs:element type="stFreeStyleNumberVector" name="Weights"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="bestOfAssetOrCashRainbowOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Notional"/>
      <xs:element type="stFreeStyleNumber" name="Strike"/>
      <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
      <xs:element type="stFreeStyleNumberVector" name="Weights"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="worstOfAssetOrCashRainbowOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Notional"/>
      <xs:element type="stFreeStyleNumber" name="Strike"/>
      <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
      <xs:element type="stFreeStyleNumberVector" name="Weights"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="minRainbowOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleOptionType" name="PutCall"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Notional"/>
      <xs:element type="stFreeStyleNumber" name="Strike"/>
      <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
      <xs:element type="stFreeStyleNumberVector" name="Weights"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="maxRainbowOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleOptionType" name="PutCall"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Notional"/>
      <xs:element type="stFreeStyleNumber" name="Strike"/>
      <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
      <xs:element type="stFreeStyleNumberVector" name="Weights"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="autocallable01Data">
    <xs:all>
      <xs:element type="xs:float" name="NotionalAmount"/>
      <xs:element type="xs:float" name="DeterminationLevel"/>
      <xs:element type="xs:float" name="TriggerLevel"/>
      <xs:element type="underlying" name="Underlying"/>
      <xs:element type="longShort" name="Position"/>
      <xs:element type="currencyCode" name="PayCcy"/>
      <xs:element name="FixingDates">
        <xs:complexType>
          <xs:all>
            <xs:element type="scheduleData" name="ScheduleData"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="SettlementDates">
        <xs:complexType>
          <xs:all>
            <xs:element type="scheduleData" name="ScheduleData"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="AccumulationFactors">
        <xs:complexType>
          <xs:all>
            <xs:element type="xs:float" name="Factor" maxOccurs="unbounded"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:float" name="Cap"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="doubleDigitalOptionData">
    <xs:all>
      <xs:element type="date" name="Expiry"/>
      <xs:element type="date" name="Settlement"/>
      <xs:element type="xs:float" name="BinaryPayout"/>
      <xs:element type="xs:float" name="BinaryLevel1"/>
      <xs:element type="xs:float" name="BinaryLevel2"/>
      <xs:element type="xs:string" name="Type1"/>
      <xs:element type="xs:string" name="Type2"/>
      <xs:element type="longShort" name="Position"/>
      <xs:element type="underlying" name="Underlying1"/>
      <xs:element type="underlying" name="Underlying2"/>
      <xs:element type="currencyCode" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="performanceOption01Data">
    <xs:all>
      <xs:element type="xs:float" name="NotionalAmount"/>
      <xs:element type="xs:float" name="ParticipationRate"/>
      <xs:element type="date" name="ValuationDate"/>
      <xs:element type="date" name="SettlementDate"/>
      <xs:element name="Underlyings">
        <xs:complexType>
          <xs:all>
            <xs:element type="underlying" name="Underlying" maxOccurs="unbounded"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="StrikePrices">
        <xs:complexType>
          <xs:all>
            <xs:element type="xs:float" name="StrikePrice" maxOccurs="unbounded"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:float" name="Strike"/>
      <xs:element type="longShort" name="Position"/>
      <xs:element type="currencyCode" name="PayCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="compositeTradeComponents">
    <xs:all>
      <xs:element name="Trade" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element type="orePlusTradeType" name="TradeType"/>
            <xs:element type="envelope" name="Envelope" minOccurs="0"/>
            <xs:group ref="orePlusTradeData"/>
          </xs:all>
          <xs:attribute type="xs:string" name="id"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="notionalCalculation">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
      <xs:enumeration value="Sum"/>
      <xs:enumeration value="Mean"/>
      <xs:enumeration value="Average"/>
      <xs:enumeration value="First"/>
      <xs:enumeration value="Last"/>
      <xs:enumeration value="Min"/>
      <xs:enumeration value="Max"/>
      <xs:enumeration value="Override"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="compositeTradeData">
    <xs:all>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="notionalCalculation" name="NotionalCalculation" minOccurs="0"/>
      <xs:element type="xs:float" name="NotionalOverride" minOccurs="0"/>
      <xs:element type="compositeTradeComponents" name="Components"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="windowBarrierOptionData">
    <xs:all>
      <xs:element type="stFreeStyleEvent" name="Expiry"/>
      <xs:element type="stFreeStyleEvent" name="Settlement"/>
      <xs:element type="stFreeStyleEvent" name="StartDate"/>
      <xs:element type="stFreeStyleEvent" name="EndDate"/>
      <xs:element type="stFreeStyleNumber" name="Strike"/>
      <xs:element type="stFreeStyleNumber" name="BarrierLevel"/>
      <xs:element type="stFreeStyleBarrierType" name="BarrierType"/>
      <xs:element type="stFreeStyleOptionType" name="PutCall"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleNumber" name="Quantity"/>
      <xs:element type="stFreeStyleIndex" name="Underlying"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
      <xs:element type="stFreeStyleEvent" name="PremiumPayDate"/>
      <xs:element type="stFreeStyleNumber" name="PremiumAmount"/>
      <xs:element type="stFreeStyleCurrency" name="PremiumCcy"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="accumulator01Data">
    <xs:all>
      <xs:element type="stFreeStyleNumber" name="Strike"/>
      <xs:element type="stFreeStyleNumber" name="FixingAmount"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleIndex" name="Underlying"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
      <xs:element type="stFreeStyleEvent" name="StartDate"/>
      <xs:element type="stFreeStyleEventSchedule" name="FixingDates"/>
      <xs:element type="stFreeStyleEventSchedule" name="SettlementDates"/>
      <xs:element type="stFreeStyleNumberVector" name="RangeUpperBounds"/>
      <xs:element type="stFreeStyleNumberVector" name="RangeLowerBounds"/>
      <xs:element type="stFreeStyleNumberVector" name="RangeLeverages"/>
      <xs:element type="stFreeStyleNumber" name="KnockOutLevel"/>
      <xs:element type="stFreeStyleBarrierType" name="KnockOutType"/>
      <xs:element type="stFreeStyleBool" name="AmericanKO"/>
      <xs:element type="stFreeStyleNumber" name="GuaranteedFixings"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="accumulator02Data">
    <xs:all>
      <xs:element type="stFreeStyleNumber" name="Strike"/>
      <xs:element type="stFreeStyleNumber" name="FixingAmount"/>
      <xs:element type="stFreeStyleLongShort" name="LongShort"/>
      <xs:element type="stFreeStyleIndex" name="Underlying"/>
      <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
      <xs:element type="stFreeStyleEventSchedule" name="ObservationDates"/>
      <xs:element type="stFreeStyleEventSchedule" name="KnockOutSettlementDates"/>
      <xs:element type="stFreeStyleEventSchedule" name="ObservationPeriodEndDates"/>
      <xs:element type="stFreeStyleEventSchedule" name="SettlementDates"/>
      <xs:element type="stFreeStyleNumberVector" name="RangeUpperBounds"/>
      <xs:element type="stFreeStyleNumberVector" name="RangeLowerBounds"/>
      <xs:element type="stFreeStyleNumberVector" name="RangeLeverages"/>
      <xs:element type="stFreeStyleNumber" name="DefaultRange"/>
      <xs:element type="stFreeStyleNumber" name="KnockOutLevel"/>
      <xs:element type="stFreeStyleBarrierType" name="KnockOutType"/>
      <xs:element type="stFreeStyleEvent" name="GuaranteedPeriodEndDate"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="tarfData">
      <xs:all>
        <xs:element type="stFreeStyleNumber" name="FixingAmount"/>
        <xs:element type="stFreeStyleLongShort" name="LongShort"/>
        <xs:element type="stFreeStyleIndex" name="Underlying"/>
        <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
        <xs:element type="stFreeStyleEventSchedule" name="FixingDates"/>
        <xs:element type="stFreeStyleNumberVector" name="RangeUpperBounds"/>
        <xs:element type="stFreeStyleNumberVector" name="RangeLowerBounds"/>
        <xs:element type="stFreeStyleNumberVector" name="RangeLeverages"/>
        <xs:element type="stFreeStyleNumberVector" name="RangeStrikes"/>
        <xs:element type="stFreeStyleNumber" name="KnockOutProfitAmount"/>
        <xs:element type="stFreeStyleNumber" name="KnockOutProfitEvents"/>
        <xs:element type="stFreeStyleNumber" name="TargetAmount"/>
        <xs:element type="stFreeStyleNumber" name="TargetType"/>
      </xs:all>
  </xs:complexType>

  <xs:complexType name="europeanRainbowCallSpreadOptionData">
      <xs:all>
        <xs:element type="stFreeStyleEvent" name="Expiry"/>
        <xs:element type="stFreeStyleEvent" name="Settlement"/>
        <xs:element type="stFreeStyleLongShort" name="LongShort"/>
        <xs:element type="stFreeStyleNumber" name="Notional"/>
        <xs:element type="stFreeStyleIndexVector" name="Underlyings"/>
        <xs:element type="stFreeStyleNumberVector" name="InitialStrikes"/>
        <xs:element type="stFreeStyleNumberVector" name="Weights"/>
        <xs:element type="stFreeStyleNumber" name="Floor"/>
        <xs:element type="stFreeStyleNumber" name="Cap"/>
        <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
      </xs:all>
  </xs:complexType>

  <xs:complexType name="asianIrCapFloorData">
      <xs:all>
        <xs:element type="stFreeStyleNumber" name="NotionalAmount"/>
        <xs:element type="stFreeStyleLongShort" name="LongShort"/>
        <xs:element type="stFreeStyleIndex" name="Underlying"/>
        <xs:element type="stFreeStyleDayCounter" name="FixingLagDc"/>
        <xs:element type="stFreeStyleNumber" name="MinFixingLag"/>
        <xs:element type="stFreeStyleNumber" name="MaxFixingLag"/>
        <xs:element type="stFreeStyleOptionType" name="OptionType"/>
        <xs:element type="stFreeStyleNumber" name="Strike"/>
        <xs:element type="stFreeStyleNumber" name="Gearing"/>
        <xs:element type="stFreeStyleNumber" name="Spread"/>
        <xs:element type="stFreeStyleDayCounter" name="DayCountFraction"/>
        <xs:element type="stFreeStyleNumber" name="FixedAmount"/>
        <xs:element type="stFreeStyleEvent" name="FixedAmountPayDate"/>
        <xs:element type="stFreeStyleCurrency" name="PayCcy"/>
        <xs:element type="stFreeStyleEventSchedule" name="AccrualSchedule"/>
        <xs:element type="stFreeStyleEventSchedule" name="FixingSchedule"/>
      </xs:all>
  </xs:complexType>

  <xs:complexType name="tarfData2">
      <xs:all>
          <xs:element type="currencyCode" name="Currency"/>
          <xs:element type="xs:float" name="FixingAmount"/>
          <xs:element type="xs:float" name="TargetAmount" minOccurs="0"/>
          <xs:element type="xs:float" name="Strike" minOccurs="0"/>
          <xs:element type="underlying" name="Underlying"/>
          <xs:element type="scheduleData" name="ScheduleData"/>
          <xs:element type="optionData" name="OptionData"/>
          <xs:element name="RangeBounds">
              <xs:complexType>
                  <xs:all>
                      <xs:element type="rangeBound" name="RangeBound" maxOccurs="unbounded"/>
                  </xs:all>
              </xs:complexType>
          </xs:element>
          <xs:element name="Barriers">
              <xs:complexType>
                  <xs:all>
                      <xs:element type="barrierData" name="BarrierData" maxOccurs="unbounded"/>
                  </xs:all>
              </xs:complexType>
          </xs:element>
      </xs:all>
  </xs:complexType>

  <xs:complexType name="accumulatorData">
      <xs:all>
          <xs:element type="currencyCode" name="Currency"/>
          <xs:element type="xs:float" name="FixingAmount"/>
          <xs:element type="xs:float" name="Strike"/>
          <xs:element type="underlying" name="Underlying"/>
          <xs:element type="optionData" name="OptionData"/>
          <xs:element type="date" name="StartDate"/>
          <xs:element type="scheduleData" name="ObservationDates"/>
          <xs:element type="scheduleData" name="PricingDates" minOccurs="0"/>
          <xs:element type="xs:string" name="SettlementLag" minOccurs="0"/>
          <xs:element type="calendar" name="SettlementCalendar" minOccurs="0"/>
          <xs:element type="businessDayConvention" name="SettlementConvention" minOccurs="0"/>
          <xs:element name="RangeBounds">
              <xs:complexType>
                  <xs:all>
                      <xs:element type="rangeBound" name="RangeBound" maxOccurs="unbounded"/>
                  </xs:all>
              </xs:complexType>
          </xs:element>
          <xs:element name="Barriers">
              <xs:complexType>
                  <xs:all>
                      <xs:element type="barrierData" name="BarrierData" maxOccurs="unbounded"/>
                  </xs:all>
              </xs:complexType>
          </xs:element>
      </xs:all>
  </xs:complexType>

  <xs:complexType name="basketOptionData">
      <xs:all>
          <xs:element type="currencyCode" name="Currency"/>
          <xs:element type="xs:float" name="Notional"/>
          <xs:element type="xs:float" name="Strike" minOccurs="0"/>
          <xs:element name="Underlyings">
              <xs:complexType>
                  <xs:all>
                      <xs:element type="underlying" name="Underlying" maxOccurs="unbounded"/>
                  </xs:all>
              </xs:complexType>
          </xs:element>
          <xs:element type="optionData" name="OptionData"/>
          <xs:element type="xs:string" name="Settlement" minOccurs="0"/>
          <xs:element type="scheduleData" name="ObservationDates" minOccurs="0"/>
      </xs:all>
  </xs:complexType>

  <xs:complexType name="rainbowOptionData">
      <xs:all>
          <xs:element type="currencyCode" name="Currency"/>
          <xs:element type="xs:float" name="Notional"/>
          <xs:element type="xs:float" name="Strike"/>
          <xs:element name="Underlyings">
              <xs:complexType>
                  <xs:all>
                      <xs:element type="underlying" name="Underlying" maxOccurs="unbounded"/>
                  </xs:all>
              </xs:complexType>
          </xs:element>
          <xs:element type="optionData" name="OptionData"/>
          <xs:element type="xs:string" name="Settlement" minOccurs="0"/>
      </xs:all>
  </xs:complexType>

  <xs:complexType name="cbodata">
    <xs:all>
      <xs:element type="currencyCode" name="BaseCurrency"/>
      <xs:element type="xs:string" name="FXIndex"/>
      <xs:element type="xs:float" name="SeniorFee"/>
      <xs:element type="xs:string" name="SeniorFeeDayCounter"/>
      <xs:element type="bondbasketdata" name="BondBasketData" maxOccurs="1" minOccurs="0"/>
      <xs:element type="cbotranches" name="CBOTranches" maxOccurs="1" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="bondbasketdata">
    <xs:all>
      <xs:element name="Trade" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element type="orePlusTradeType" name="TradeType"/>
            <xs:element type="envelope" name="Envelope" minOccurs="0"/>
            <xs:element type="bondData" name="BondData" maxOccurs="1" minOccurs="0"/>
          </xs:all>
          <xs:attribute type="xs:string" name="id"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="cbotranches">
    <xs:all>
      <xs:element type="cbotranche" name="Tranche" maxOccurs="unbounded">
      </xs:element>
    </xs:all>
  </xs:complexType>
    
  <xs:complexType name="cbotranche">
    <xs:all>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:float" name="ICRatio"/>
      <xs:element type="xs:float" name="OCRatio"/>
      <xs:element type="xs:boolean" name="PricedTranche"/>
      <xs:element type="xs:integer" name="SettlementDays"/>
      <xs:element type="date" name="IssueDate"/>
      <xs:element type="xs:string" name="Calendar"/>
      <xs:element type="legData" name="LegData"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="trsUnderlyingData">
    <xs:all>
      <xs:element name="Trade" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element type="orePlusTradeType" name="TradeType"/>
            <xs:element type="envelope" name="Envelope" minOccurs="0"/>
            <xs:group ref="orePlusTradeData"/>
          </xs:all>
          <xs:attribute type="xs:string" name="id"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="trsReturnData">
    <xs:all>
      <xs:element type="xs:boolean" name="Payer"/>
      <xs:element type="currencyCode" name="Currency"/>
      <xs:element type="scheduleData" name="ScheduleData"/>
      <xs:element type="xs:string" name="ObservationLag" minOccurs="0"/>
      <xs:element type="businessDayConvention" name="ObservationConvention" minOccurs="0"/>
      <xs:element type="calendar" name="ObservationCalendar" minOccurs="0"/>
      <xs:element type="xs:string" name="PaymentLag" minOccurs="0"/>
      <xs:element type="businessDayConvention" name="PaymentConvention" minOccurs="0"/>
      <xs:element type="calendar" name="PaymentCalendar" minOccurs="0"/>
      <xs:element name="PaymentDates" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element type="date" name="PaymentDate" maxOccurs="unbounded"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:float" name="InitialPrice" minOccurs="0"/>
      <xs:element type="currencyCode" name="InitialPriceCurrency" minOccurs="0"/>
      <xs:element name="FXTerms" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element type="xs:string" name="FXIndex" minOccurs="0"/>
            <xs:element type="xs:integer" name="FXIndexFixingDays" minOccurs="0"/>
            <xs:element type="calendar" name="FXIndexCalendar" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="trsFundingData">
    <xs:all>
      <xs:element type="legData" name="LegData" maxOccurs="unbounded" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="totalReturnSwapData">
    <xs:all>
      <xs:element type="trsUnderlyingData" name="UnderlyingData"/>
      <xs:element type="trsReturnData" name="ReturnData"/>
      <xs:element type="trsFundingData" name="FundingData"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="bondRepoData">
    <xs:all>
      <xs:element type="bondData" name="BondData"/>
      <xs:element name="RepoData">
        <xs:complexType>
          <xs:all>
            <xs:element type="legData" name="LegData"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

</xs:schema>
