xsd/ore.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="ore_types.xsd"/>

  <xs:element name="ORE">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="parameterListType" name="Setup"/>
        <xs:element type="parameterListType" name="Markets"/>
        <xs:element type="analyticsType" name="Analytics"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="analyticsType">
    <xs:sequence>
      <xs:element name="Analytic" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="parameterListType">
             <xs:attribute type="xs:string" name="type"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parameterListType">
    <xs:sequence>
      <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute type="xs:string" name="name" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
