xsd/referencedata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ReferenceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReferenceDatum" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Type" minOccurs="1" maxOccurs="1" />
              <xs:group ref="referenceDataTypes"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:group name="referenceDataTypes">
    <xs:choice>
      <xs:element type="indexReferenceDatum" name="EquityIndexReferenceData"/>
      <xs:element type="indexReferenceDatum" name="CreditIndexReferenceData"/>
      <xs:element type="referenceDatum" name="BondReferenceData"/>
      <xs:element type="referenceDatum" name="ConvertibleBondReferenceData"/>
      <xs:element type="referenceDatum" name="CreditReferenceData"/>
      <xs:element type="referenceDatum" name="EquityReferenceData"/>
	</xs:choice>
  </xs:group>

  <xs:complexType name="indexReferenceDatum">
    <xs:sequence>
	  <xs:element name="Underlying" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
		  <xs:all>
            <xs:element type="xs:string" name="Name" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:float" name="Weight" minOccurs="1" maxOccurs="1"/>
		  </xs:all>
		</xs:complexType>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="referenceDatum">
    <xs:all>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
	</xs:all>
  </xs:complexType>
</xs:schema>
