xsd/stress.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element type="stresstesting" name="StressTesting"/>

  <xs:complexType name="stresstesting">
    <xs:sequence>
      <xs:element type="bool" name="UseSpreadedTermStructures" minOccurs="0"/>
      <xs:element type="stresstest" name="StressTest" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="stresstestparshifts" minOccurs="0"/>
    <xs:sequence>
      <xs:element type="bool" name="IrCurves" minOccurs="0"/>
      <xs:element type="bool" name="CapFloorVolatilities" minOccurs="0"/>
      <xs:element type="bool" name="SurvivalProbabilities" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="stresstest">
    <xs:all>
      <xs:element type="stresstestparshifts" name="ParShifts"/>
      <xs:element type="discountcurves" name="DiscountCurves"/>
      <xs:element type="indexcurves" name="IndexCurves"/>
      <xs:element type="yieldcurves" name="YieldCurves"/>
      <xs:element type="fxspots" name="FxSpots"/>
      <xs:element type="fxvolatilities" name="FxVolatilities"/>
      <xs:element type="swaptionvolatilities" name="SwaptionVolatilities"/>
      <xs:element type="capfloorvolatilities" name="CapFloorVolatilities"/>
      <xs:element type="equityspots" name="EquitySpots" minOccurs="0"/>
      <xs:element type="equityvolatilities" name="EquityVolatilities" minOccurs="0"/>
      <xs:element type="securityspreads" name="SecuritySpreads"/>
      <xs:element type="recoveryrates" name="RecoveryRates"/>
      <xs:element type="survivalprobabilities" name="SurvivalProbabilities"/>
    </xs:all>
    <xs:attribute type="xs:string" name="id" use="required"/>
  </xs:complexType>

</xs:schema>
